@media (min-width: 992px) {
  .aside-enabled .header.header-fixed {
    left: 265px;
  }
}

.loading {
  opacity: 0.4;
}

.paginate {
  padding: 0;
}

.paginate li::marker {
  content: none;
}


/* MUI input*/

.MuiFormControl-marginNormal {
  width: 100%;
}

.MuiFormControl-root {
  border: 0;
  margin: 0;
  display: inline-flex;
  padding: 0;
  position: relative;
  min-width: 0;
  flex-direction: column;
  vertical-align: top;
}

.MuiFormControl-marginNormal {
  margin-top: 16px;
  margin-bottom: 8px;
}

.jss23 {
  margin-left: 8px;
  margin-right: 8px;
}

.MuiFormLabel-root {
  color: rgba(0, 0, 0, 0.54);
  padding: 0;
  font-size: 1rem;
  font-family: Roboto,Helvetica,"sans-serif";
  font-weight: 400;
  line-height: 1;
}

.MuiInputLabel-root {
  display: block;
  transform-origin: top left;
}

.MuiInputLabel-formControl {
  top: 0;
  left: 0;
  position: absolute;
  transform: translate(0, 24px) scale(1);
}

.MuiInputLabel-animated {
  transition: color 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms, transform 200ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
}

.MuiInputLabel-outlined {
  z-index: 1;
  transform: translate(14px, 20px) scale(1);
  pointer-events: none;
}

.MuiInputBase-root {
  color: rgba(0, 0, 0, 0.87);
  cursor: text;
  display: inline-flex;
  position: relative;
  font-size: 1rem;
  box-sizing: border-box;
  align-items: center;
  font-family: Roboto,Helvetica,"sans-serif";
  font-weight: 400;
  line-height: 1.1876em;
}

.MuiInputBase-input:focus {
  outline: 0;
}

.MuiOutlinedInput-root {
  position: relative;
  border-radius: 4px;
}

.MuiInputBase-input {
  font: inherit;
  color: currentColor;
  width: 100%;
  border: 0;
  height: 1.1876em;
  margin: 0;
  display: block;
  padding: 6px 0 7px;
  min-width: 0;
  background: none;
  box-sizing: content-box;
  animation-name: mui-auto-fill-cancel;
  letter-spacing: inherit;
  -webkit-tap-highlight-color: transparent;
}

.MuiOutlinedInput-input {
  padding: 18.5px 14px;
}

.jss54 {
  top: -5px;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 0;
  padding: 0 8px;
  overflow: hidden;
  position: absolute;
  border-style: solid;
  border-width: 1px;
  border-radius: inherit;
  pointer-events: none;
}

.MuiOutlinedInput-notchedOutline {
  border-color: rgba(0, 0, 0, 0.23);
}

.jss56 {
  width: auto;
  height: 11px;
  display: block;
  padding: 0;
  font-size: 0.75em;
  max-width: 0.01px;
  text-align: left;
  transition: max-width 50ms cubic-bezier(0.0, 0, 0.2, 1) 0ms;
  visibility: hidden;
}

.jss56>span {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}

.jss22 {
  display: flex;
  flex-wrap: wrap;
}

.MuiInputLabel-shrink {
  transform: translate(0, 1.5px) scale(0.75);
  transform-origin: top left;
}

.MuiFormLabel-root.Mui-focused {
  color: #17c191;
}

.MuiInputLabel-outlined.MuiInputLabel-shrink {
  transform: translate(14px, -6px) scale(0.75);
}

.jss57 {
  max-width: 1000px;
  transition: max-width 100ms cubic-bezier(0.0, 0, 0.2, 1) 50ms;
}

.MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
  border-color: #17c191;
  border-width: 2px;
}

.suggestion_block {
  position: absolute;
  width: 100%;
  top: 52px;
  background: #fff;
  border: solid 1px #c4c4c4;
  border-radius: 4px;
  border-top: none;
  max-height: 350px;
  overflow-y: auto;
  z-index: 1;
}

.suggestion_item {
  padding: 8px 13px;
  cursor: pointer;
}

.suggestion_item img {

}

.suggestion_item:hover {
  background: #f3f3f3;
}


.inc_dec_button input {
  width: 30px;
  margin-right: 0px;
  text-align: center;
  border: solid 1px #fff;
  outline: 0;
}


.MuiBadge-badge {
  height: 20px;
  display: flex;
  padding: 0 6px;
  z-index: 1;
  position: absolute;
  flex-wrap: wrap;
  font-size: 0.75rem;
  min-width: 20px;
  box-sizing: border-box;
  transition: transform 225ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  align-items: center;
  font-family: Roboto;
  font-weight: 500;
  line-height: 1;
  align-content: center;
  border-radius: 10px;
  flex-direction: row;
  justify-content: center;
}

.MuiBadge-colorPrimary {
  color: rgba(0, 0, 0, 0.87);
  background-color: #17c191;
}

.MuiBadge-anchorOriginTopRightRectangle {
  top: 0;
  right: 0;
  transform: scale(1) translate(50%, -50%);
  transform-origin: 100% 0%;
}

.list-refine tr {
  cursor: pointer;
}

.list-refine tr:hover {
  background: #f3f3f3;
}

.Toastify__toast--success {
  background: #17c191!important;
}

.MuiCircularProgress-root {
  display: inline-block;
}

.MuiCircularProgress-indeterminate {
  animation: MuiCircularProgress-keyframes-circular-rotate 1.4s linear infinite;
}

.MuiCircularProgress-colorPrimary {
  color: #17c191;
}

.jss1 {
  margin: 16px;
}

.MuiCircularProgress-svg {
  display: block;
}

.MuiCircularProgress-circle {
  stroke: currentColor;
}

.MuiCircularProgress-circleIndeterminate {
  animation: MuiCircularProgress-keyframes-circular-dash 1.4s ease-in-out infinite;
  stroke-dasharray: 80px, 200px;
  stroke-dashoffset: 0px;
}
@keyframes MuiCircularProgress-keyframes-circular-dash {
  0% {
    stroke-dasharray: 1px, 200px;
    stroke-dashoffset: 0px;
  }

  50% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -15px;
  }

  100% {
    stroke-dasharray: 100px, 200px;
    stroke-dashoffset: -125px;
  }
}


.MuiCircularProgress-colorPrimary {
  color: #17c191;
}

